/* reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
/* global */
html {
  font-size: 16px;
  color: var(--main-text-color);
}

body {
  width: 100%;
}
header {
  width: 100%;
  height: 3rem;
  background: #eeeeee;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.navbar .home a {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.navbar .button {
  display: block;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid black;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  color: #ff6500;
  background-color: white;
}
main {
  padding: 1rem 0;
}
.card {
  width: 30rem;
  margin: 0 auto;
}
.index__form {
  margin-bottom: 1rem;
}
.index__form select {
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
}
.index__totalAmount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.index__totalAmount span {
  font-size: 5rem;
  font-weight: bold;
  color: #ff6500;
}
.index__list {
  margin-bottom: 1rem;
}
.index__list li {
  position: relative;
  display: grid;
  grid-template-columns: 2.5rem auto 1fr auto;
  height: 3rem;
  padding: 0 1rem;
}
.index__list li:nth-child(odd) {
  background-color: #fcfcfc;
}
.index__list li:nth-child(even) {
  background-color: #eeeeee;
}
.index__list .icon {
  grid-column: 1 / 2;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #00e0e0;
}
.index__list .name-and-date {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  grid-column: 2 / 3;
}
.index__list .name {
  font-weight: bold;
}
.index__list .date {
  font-size: .5rem;
}
.index__list .amount {
  grid-column: 4 / 5;
  line-height: 3rem;
}
.index__list .button-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  gap: .5rem;
  right: -10rem;
  height: 100%;
}
.index__list .button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: inherit;
  cursor: pointer;
}
.index__new {
  display: block;
  width: 50%;
  height: 2.5rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #ff6500;
}
.edit__form .input-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}
.edit__form .message {
  font-size: .5rem;
}
.edit__form .title {
  text-align: center;
}
.edit__form input,
.edit__form select {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}
.edit__form button {
  grid-column: 2 / 3;
  width: 100%;
  height: 2.5rem;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 1rem;
  background-color: inherit;
  cursor: pointer;
}
.login__form {
  text-align: center;
}
.login__form h1 {
  margin: 1rem 0;
}
.login__form input {
  width: 50%;
  height: 2.5rem;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2.5rem;
}
.login__form button {
  display: block;
  width: 30%;
  height: 2.5rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
  line-height: 2.5rem;
  font-size: 1rem;
  color: white;
  background-color: #ff6500;
}
.login__form hr {
  width: 70%;
  margin: 2rem auto;
}
.warning-message {
  margin-bottom: 1rem;
  color: red;
}
.success-message {
  margin-bottom: 1rem;
  color: green;
}
